:host
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: 14px
  color: #333
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1, h2, h3, h4, h5, h6
  margin: 8px 0

p
  margin: 0

.spacer
  flex: 1

.toolbar
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 5rem
  display: flex
  align-items: center
  background-color: #868686
  color: black
  font-weight: normal
  font-size: 1.5rem
  padding-left: 1rem
  padding-right: 1rem

.toolbar img
  margin: 0 16px

.toolbar #twitter-logo
  height: 40px
  margin: 0 8px

.toolbar #youtube-logo
  height: 40px
  margin: 0 16px

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover
  opacity: 0.8
