<div class="m-t-6 container">
  <div class="m-b-1">
    <a routerLink="/empresas">Empresas</a> > {{ currentEnterprise.nameAgency }}
  </div>
  <table mat-table [dataSource]="currentSales">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Nombre del cliente
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="persons">
      <th mat-header-cell *matHeaderCellDef>
        Personas
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.persons }}
      </td>
    </ng-container>
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef>
        Día
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.day }}
      </td>
    </ng-container>
    <ng-container matColumnDef="hour">
      <th mat-header-cell *matHeaderCellDef>
        Hora
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.hour }}
      </td>
    </ng-container>
    <ng-container matColumnDef="finalPrice">
      <th mat-header-cell *matHeaderCellDef>
        Valor de la venta
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.finalPrice }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['name', 'persons', 'day', 'hour', 'finalPrice']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'persons', 'day', 'hour', 'finalPrice']"></tr>
  </table>
</div>
