.m-t-6
  margin-top: 6rem

.container
  padding: 1rem

.flex
  display: flex

.content-center
  justify-content: center

.custom-card
  width: 45%
  text-align: center
  background-color: #787878
  margin: 1rem
  display: inline-block
  border-radius: 1rem

  .custom-card-content
    font-size: 2.5rem
    margin-top: 2rem
    margin-bottom: 1rem

table
  width: 100%

  .mat-header-row
    background-color: #DBD9D9
