<div class="m-t-6">
  <div class="flex content-center">
    <mat-card class="custom-card">
      <mat-card-title>EMPRESA CON MÁS VENTAS</mat-card-title>
      <mat-card-content class="custom-card-content">
        ${{ topSale }}
      </mat-card-content>
    </mat-card>
    <mat-card class="custom-card">
      <mat-card-title>MES CON MÁS VENTAS</mat-card-title>
      <mat-card-content class="custom-card-content">
        {{ topMonth }}
      </mat-card-content>
    </mat-card>
  </div>

  <div class="container">
    <table mat-table [dataSource]="enterprises.reverse()">
      <ng-container matColumnDef="nameAgency">
        <th mat-header-cell *matHeaderCellDef>
          Nombre empresa
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.nameAgency }}
        </td>
      </ng-container>
      <ng-container matColumnDef="finalPrice">
        <th mat-header-cell *matHeaderCellDef>
          Total de ventas
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.finalPrice }}
        </td>
      </ng-container>
      <ng-container matColumnDef="commission">
        <th mat-header-cell *matHeaderCellDef>
          Comisión
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.commission }}
        </td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>
          Detalles
        </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/empresas/', element.nameAgency.toLowerCase().replace(' ', '_')]" (click)="setCurrentEnterprise(element)">Ver detalle</a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['nameAgency', 'finalPrice', 'commission', 'details']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['nameAgency', 'finalPrice', 'commission', 'details'];"></tr>
    </table>
  </div>
</div>
